<footer class="footer">
    <div class="container">
    <span class="text-muted">&copy; Tvent 2018</span> | 
    <a class="p-2 text-light header-text" href="#">FAQs</a> |
    <a class="p-2 text-light header-text" href="#">Help</a> 
    </div>
</footer>