<div class="row cevent" style="width:100%;">
    <div class="col-6" style="padding-left: 5%;">
        <h3 class="display-4">New Event</h3>
    </div>
    <div class="col-6" style="text-align:right;padding: 2% 6% 0% 0%;">
        {{!-- <button class="btn ceventBtn" style="margin-right:2%;"><i class="far fa-save"></i> Save</button> --}}
        <button class="btn ceventBtn" disabled id="btnPublish"><i class="fas fa-upload"></i> Publish</button>
    </div>
</div>
<hr style="padding: 5px;">
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-event-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">1. <i class="far fa-calendar-plus"></i> Event
                    Details</a>
                <a class="nav-link" id="v-pills-allocation-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">2. <i class="far fa-id-card"></i> Allocation Strategy</a>
                <a class="nav-link" id="v-pills-additional-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">3. <i class="fas fa-cog"></i> Additional Setup</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"
                    style="margin-bottom:15px;">
                    <h5 class="display-4 tabtitle">Tell a bit about the event</h5>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-12">
                            <select class="custom-select category-dropdown">
                                <option value="null" selected>Select Event Category</option>
                                <option value="convocation">Convocation</option>
                                <option value="wedding">Wedding Ceremony</option>
                                <option value="dinner">Dinner</option>
                            </select>
                        </div>
                    </div>
                    <div class="category-conv-section" style="display:none">
                        <div class="row mb-3">
                            <div class="col-6">
                                <label for="event">Event Title *</label>

                                <div class="input-group" id="eventtitle">
                                    <input type="text" class="form-control" id="event" placeholder="" value="qwe" required="">
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="fas fa-poll-h"></i></div>
                                    </div>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Event title is required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="event">Location *</label>

                                <div class="input-group" id="location">
                                    <input type="text" class="form-control" id="loc" placeholder="" value="qw">
                                    <div class="input-group-append">
                                        <div class="input-group-text"><i class="fas fa-map-marked-alt"></i></div>
                                    </div>
                                    <div class="invalid-feedback" style="width: 100%;">
                                        Event location is required
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row mt-1">
                            <div class="col-6">
                                <label for="event">Event Poster *</label>
                              
                                <div class="input-group" id="posterurl">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>

                                </div>
                                <div class="invalid-feedback">
                                    Valid first name is required.
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="event">Event Description *</label>
                                <div id="desc">
                                    <textarea class="form-control description" rows="3">qww</textarea>
                                </div>
                                <div class="invalid-feedback">
                                    A brief description of event is required
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h5 class="display-4 tabtitle">What's the allocation gonna look like ?</h5>
                    <hr>
                    <div class="row mt-3">
                        <div class="col-6">
                            <label for="event">Start Date *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="startdate" placeholder="YYYY-MM-DD HH:MM" value="" required="">
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <div class="invalid-feedback" style="width: 100%;">
                                    A start date and time is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label for="event">End Date *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="enddate" placeholder="YYYY-MM-DD 00:00" value="" required="">
                                <div class="input-group-append">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                                <div class="invalid-feedback" style="width: 100%;">
                                    An end date and time is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 day-allocation-section" style="margin:5px auto">
                        <div class="col-12 text-center ">
                            <button class="btn mt-3 dayGenerate" style="width:80%">Generate Day of Event</button>
                            <div class="errorlist2" style="display:none;width:80%;margin:5px auto;text-align:left">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    <h5 class="display-4 tabtitle">Almost done!</h5>
                    <hr>
                    <label for="" style="margin-right: 20px;">Make Event</label>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" checked value="true" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Visible</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" value="false" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">Not Visible</label>
                    </div>
                    <div class="errorlist3 mt-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>