<div class="row cevent" style="width:100%;">
    <div class="col-7" style="padding-left: 5%;">
        <h3 class="display-4" id="eventDisplay">Manage Events</h3>
    </div>
    <div class="col-5" style="text-align:right;padding: 2% 6% 0% 0%;">

    </div>

</div>
<hr style="padding: 5px;">
<div class="container" style="margin-bottom:70px">
    <div class="row">
        <div class="col-5 eventListContainer" id="eventListContainer">
            <div class="input-group mb-3">
                <input type="text" style="border-radius: 5px 0px 0px 5px;" class="form-control search" id="search" placeholder="search for events">
                
                <div class="input-group-append">
                    <span class="input-group-text">
                        {{!-- <i class="fa fa-spinner fa-spin" style="display:none;font-size:24px"></i> --}}
                        <i class="fas fa-search" style="font-size:18px"></i>
                    </span>
                </div> 
            </div>
            <div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" checked value="all" id="radio1" name="radio" class="custom-control-input radio">
                    <label class="custom-control-label" for="radio1">All (<span id="event_count">-</span>)</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" value="public" id="radio2" name="radio" class="custom-control-input radio">
                    <label class="custom-control-label" for="radio2">Public (<span id="public_count">-</span>)</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" value="private" id="radio3" name="radio" class="custom-control-input radio">
                    <label class="custom-control-label" for="radio3">Private (<span id="private_count">-</span>)</label>
                </div>
            </div>
            <hr/>
            <div id="evList">
                <span>Loading your events  <i class="fa fa-spinner fa-spin" style="font-size:17px"></i></span>
            </div>
        </div>
        <div class="col-7 eventViewContainer">
            <div class="row">
                <div class="col-7" style="padding-left:5%;" id="evTitle">
                    <h4 class="display-4 evTitle">Click on event to view full details</h4>
                </div>
                <div class="col-5" style="text-align:right;">
                    <button class="btn"  data-toggle="modal" data-target="#itemModal" style="margin-right:2%;"><i class="fas fa-edit"></i>  Edit</button>
                    <button class="btn"  data-toggle="modal" data-target="#itemModal" style="margin-right:2%;"><i class="far fa-eye"></i>  Preview</button>
                </div>
            </div>
            <hr>
            <div id="loaderDiv" class="text-center" style="display:none;">
                <img src="/images/evLoading.gif" style="max-width:70%" alt="Loader">
            </div>
            <div class="row" id="eventDiv" style="display:none;">
                <div class="col-7" id="evPoster">
                    <img src="/uploads/poster_1547753994396.jpg" style="max-width:100%" alt="event poster">
                </div>
                <div class="col-5" id="evMetadata">
                    <p id="evDateTime">Jan 1, 2019 9:00 AM - Jan 4, 2019 2:00 AM </p>
                    <p id="evDesc">A conference for Web developers from allover the world</p>
                    <a class="badge badge-light">Lagos show</a>
                    <a class="badge badge-light">Party</a>
                    <a class="badge badge-light">Convocation</a>
                    <a class="badge badge-light">Ibadan for sho</a>
                </div>
                <div class="col-12 mt-3">
                    <p>Event Allocation <a href='' id="evLink" style="float:right">Link</a></p>
                    <table class="table" style="font-size:13px">
                        <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Division</th>
                                <th scope="col">Registered</th>
                                <th scope="col">Capacity</th>
                            </tr>
                        </thead>
                        <tbody id="allocationBody">
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="_csrf" id="_csrf" value="{{ csrfToken }}">
</div>

<script src="/javascripts/myevent.handler.js"></script>