<div class="container signup">
    <h4 class="display-4" style="font-size:40px;margin-bottom:50px;">
       Welcome Back.</h4>
       {{#if hasErrors}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{# each messages}}
                        {{this}}<br/>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signin" method="post">
             <div class="row mb-2">
                <div class="col-md-6 mb-3" style="margin:0 auto;">
                    <div class="form-group">
                        {{!-- <label for="email" style="text-left">Email</label> --}}
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email Address" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        {{!-- <label for="lastName" style="text-left">Password</label> --}}
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div> 
                    <div style="font-size:13px;">Still under construction<br/>Why not try it out with the following info<br/><span>Email: testme@gmail.com</span><br/><span>Password: testme</span></div> 
                    
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn signbtn">Log In</button>      
        </form>
    {{!-- <span class="text-muted mb-4">Enter your credentials</span> --}}
  
</div>