<script src="/javascripts/index.js"></script>
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron ev-jumbo" style="background-image:url('/images/poster.jpg'); border-radius:0;margin-bottom:0" id="overlay">
        
    </div>
    <div class="container ev-container" style="margin-bottom:60px">
        <div class="row">
            <div class="col-8">
                <p class="display-4" style="font-size:2.7rem">Rest Pattern Conference</p>
            </div>
            <div class="col-4">
                <button class="btn btn-lg" style="width:100%">Register for Event</button>
            </div>
            <hr style="padding-bottom: 20px;width: 90%;">
            <div class="row ev-desc" style="width: 90%;margin: 0 auto;">
                <div class="col-6 mb-3">
                    <h3 class="display-4">Description</h3>
                    <p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
                <div class=" mb-3 col-2">
                    
                </div>
                <div class="col-4 mb-3">
                    <h3 class="display-4">Date & Time</h3>
                    <p>Sat, January 26, 2019</p>
                    <p>10:00 AM – 3:00 PM WAT</p>
                </div>
                <div class="col-5 mb-3">
                    <h3 class="display-4">Location</h3>
                    <p style="text-align:justify">35b, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                </div>
                <div class="col-3 mb-3">
                    
                </div>
                <div class="col-4 mb-3">
                    <h3 class="display-4">Tags</h3>
                    <a href="#" class="badge badge-light">Lagos show</a>
                    <a href="#" class="badge badge-light">Big Data</a>
                    <a href="#" class="badge badge-light">Small Scale Business Automation</a>
                    <a href="#" class="badge badge-light">Experience</a>
                    <a href="#" class="badge badge-light">Stand Up Naija</a>
                </div>
            </div>
            <hr style="padding-bottom: 20px;width: 90%;">
            <div class="col-12 text-center">
                <h2 class="display-4">Event Organizer</h2>
                <p>LoopBack, IBM</p>
            </div>
        </div>
    </div>
</main>