<script src="/javascripts/index.js"></script>
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="overlay">
        <div class="container">
          <h3 class="display-4 jumbtext">.<span class="write display-4"></span></h3>
          <p>And allow Tvent do the hardwork for you, afterall the glamorous Event is all that matters to us.</p>
            <div class="row searchRow">
                <div class="col-md-4">
                    <label for="event">Looking for ?</label>
                    <input type="text" class="form-control" id="event" placeholder="UI Convocation" value="" required="">
                </div>
                <div class="col-md-4">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" id="location" placeholder="Location" value="" required="">
                </div>
                <div class="col-md-3">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" placeholder="Date" value="" required="">
                </div>
                <div class="col-md-1 searchEventBtnDiv">
                    <button class="btn searchEventBtn"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>

      {{!-- events by tag --}}
      <div class="container">
          <h4 class="display-4 tagtxt">Checkout events by tags</h4>
          <div class="row">
              <div class="col-md-12" style="padding: 20px 0px 0px 40px;">
                  <a href="#" class="badge badge-light selected">All</a>
                  <a href="#" class="badge badge-light">Lagos show</a>
                  <a href="#" class="badge badge-light">Party</a>
                  <a href="#" class="badge badge-light">Convocation</a>
                  <a href="#" class="badge badge-light">Ibadan for show</a>
                  <a href="#" class="badge badge-light">Experience</a>
                  <a href="#" class="badge badge-light">Stand Up Naija</a>
                  <a href="#" class="badge badge-light">Google Developer's Conference</a>
                  <a href="#" class="badge badge-light">Lagos show</a>
                  <a href="#" class="badge badge-light">Big Data</a>
                  <a href="#" class="badge badge-light">Small Scale Business Automation</a>
                  <a href="#" class="badge badge-light">Experience</a>
                  <a href="#" class="badge badge-light">Stand Up Naija</a>

              </div>
          </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53041691%2F238269161097%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=0%2C279%2C1078%2C539&s=ba130a85b90a2f5122b6fbf39045f275" alt="Card image cap">
                <div class="card-body">
                    <a class="card-title" href="#">Card title</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F51853185%2F52642443556%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=1294%2C0%2C2842%2C1421&s=92ccf976bc6bcef604d7e32b93451ec2" alt="Card image cap">
                <div class="card-body">
                    <a class="card-title" href="#">Card title</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53041691%2F238269161097%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=0%2C279%2C1078%2C539&s=ba130a85b90a2f5122b6fbf39045f275" alt="Card image cap">
                <div class="card-body">
                    <a class="card-title" href="#">Card title</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>       
          </div>
        </div>

        <hr>
        
    </div> <!-- /container -->
    
    <div class="row bridge1">
        <div class="col-md-12">
            <p class="display-4">Give your <a href="#">Event</a> a trial with Tvent</p>
        </div>
    </div>

    {{!-- events by category --}}
      <div class="container categoryContainer">
          <h4 class="display-4 tagtxt">Explore Events by Categories</h4>
          <div class="row">
              <div class="col-md-12" style="padding: 20px 0px 0px 40px;">
                  <a href="#" class="badge badge-light selected">All</a>
                  <a href="#" class="badge badge-light">Business</a>
                  <a href="#" class="badge badge-light">Party</a>
                  <a href="#" class="badge badge-light">Convocation</a>
                  <a href="#" class="badge badge-light">Art</a>
                  <a href="#" class="badge badge-light">Music</a>
                  <a href="#" class="badge badge-light">Sport and Wellness</a>
              </div>
          </div>
      </div>
      <div class="container" style="margin-bottom:70px">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53041691%2F238269161097%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=0%2C279%2C1078%2C539&s=ba130a85b90a2f5122b6fbf39045f275" alt="Card image cap">
                <div class="card-body">
                    <a class="card-title" href="#">Card title</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F51853185%2F52642443556%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=1294%2C0%2C2842%2C1421&s=92ccf976bc6bcef604d7e32b93451ec2" alt="Card image cap">
                <div class="card-body">
                    <a class="card-title" href="#">Card title</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F53041691%2F238269161097%2F1%2Foriginal.jpg?h=512&w=512&auto=compress&rect=0%2C279%2C1078%2C539&s=ba130a85b90a2f5122b6fbf39045f275" alt="Card image cap">
                <div class="card-body">
                    <a class="card-title" href="#">Card title</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>       
          </div>
        </div>

        <hr>
</main>